---
import { SITE_TITLE } from "@/consts";

const today = new Date();
---

<footer class="container py-4">
	<p class="text-center text-muted-foreground">
		&copy; {today.getFullYear()}
		{SITE_TITLE}. Todos los derechos reversados.
	</p>
</footer>
