---
import { SITE_TITLE } from "../consts";
---

<header
	class="sticky top-0 z-50 flex w-full items-center border-b border-border/40 bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
	<nav class="container py-4">
		<h2 class="font-medium"><a href="/">{SITE_TITLE}</a></h2>
	</nav>
</header>
