---
import type { CollectionEntry } from "astro:content";
import FormattedAuthors from "./FormattedAuthors.astro";
import FormattedDate from "./FormattedDate.astro";
import PostMetaDataItem from "./PostMetaDataItem.astro";

type Props = CollectionEntry<"blog">["data"];

const { authors, pubDate } = Astro.props;
---

<div class="flex flex-col gap-4 sm:flex-row sm:justify-between">
	<PostMetaDataItem title={authors.length === 1 ? "Autor" : "Autores"}>
		<FormattedAuthors authors={authors} />
	</PostMetaDataItem>

	<PostMetaDataItem title="Publicación">
		<FormattedDate date={pubDate} />
	</PostMetaDataItem>
</div>
