---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { cn } from "@/lib/utils";
import type { ComponentProps } from "astro/types";

type Props = ComponentProps<typeof BaseHead> & {
	class?: string;
};

const { class: className, ...baseHead } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead {...baseHead} />
	</head>

	<body>
		<div class="relative flex min-h-screen flex-col">
			<Header />

			<main class={cn("flex-1 w-full max-w-3xl container", className)}>
				<slot />
			</main>

			<Footer />
		</div>
	</body>
</html>
